* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather', sans-serif;
}

/* body {
  overflow-x: hidden;
} */


.wrapper {
	margin: 0 auto;
  padding: 0 20px;
  width: 1020px;
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 20px;
}

.header_title {
  font-size: 40px;
  margin-bottom: 20px;
}

.header_objective {
  font-size: 30px;
  margin-bottom: 20px;
  background-color: #dbd8d8;
  padding: 10px;
}

.header_objective--weight {
  font-weight: bold;
}


.header_link {
  display: block;
  padding-bottom: 10px;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.photo {
  width: 30%;
}

.icon {
    height: 20px;
    width: 20px;
    display: inline-block;
    background-size: cover;
    margin-right: 20px;
}


.linkedin {
  background-image: url(assets/linkedin.svg);
  filter: invert(50%) sepia(50%) saturate(2500%) hue-rotate(525deg) brightness(100%) contrast(100%);
}

.phone {
  background-image: url(assets/phone.svg);
  filter: invert(50%) sepia(50%) saturate(2500%) hue-rotate(525deg) brightness(1%) contrast(100%);
}

.message {
  background-image: url(assets/emaill.svg);
  filter: invert(50%) sepia(50%) saturate(2500%) hue-rotate(360deg) brightness(100%) contrast(100%);
}

.github {
  background-image: url(assets/github.svg);
  filter: sepia(1)

}

.title {
  font-size: 30px;
  margin-top: 30px;
  font-weight: bold;
}

.desc {
  width: 100%;
  font-size: 20px;
  margin-top: 10px;
  font-weight: 400;
}

.skills {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.projects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.projects_link {
  display: block;
  text-decoration: none;
  font-size: 24px;
  color: rgb(0,174,248);
  margin-top: 10px;
  list-style: none;
  font-weight: 400;
}

.item {
  font-size: 20px;
  margin-top: 10px;
  font-weight: 400;
  margin-left: 30px;
}

.info {
  width: 49%;
}

.courses {
  margin-bottom: 30px;
  width: 100%;
}

@media only screen and (max-width: 767px){

  .photo {
    width: 50%;
  }

  .desc {
    width: 75%;
  }

  .skills {
    width: 75%;
  }

  .projects {
    width: 75%;
  }

  .courses {
    width: 75%;
  }
}
