* {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', sans-serif;
}

body {
  background-image: linear-gradient(to top left, rgb(204, 206, 227), rgb(198, 199, 219), rgb(193, 192, 211), rgb(187, 184, 202), rgb(182, 177, 194), rgb(176, 170, 186), rgb(171, 163, 178), rgb(165, 156, 170), rgb(160, 149, 162), rgb(154, 141, 153), rgb(149, 134, 145), rgb(143, 127, 137));
}

.wrapper {
  max-width: 800px;
  margin: 20px auto 0;
  box-sizing: border-box;
  background: #fff;
  border-radius: 5px;
  box-shadow:
  0 0 0 1px silver,
  0 -20px 0 -10px coral,
  20px 0 0 -10px darkturquoise,
  0 20px 0 -10px gold,
  -20px 0 0 -10px chartreuse;
}

.header_block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header_desc {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: 70px;
}

.header_title {
  font-size: 50px;
}

.header_subtitle {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.header_img {
  margin-right: 20px;
  border-radius: 5px 0 0 0;
}

.main {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

.contacts {
  width: 40%;
  background: #343945;
}

.contacts_title {
  color: #fff;
  background: #424753;
  margin-top: 20px;
  margin-bottom: 30px;
}

.contacts_link {
	display: block;
	padding-bottom: 10px;
	text-decoration: none;
	color: #fff;
	font-size: 16px;
}

.icon {
  height: 20px;
  width: 20px;
  display: inline-block;
  background-size: cover;
  margin-right: 5px;
  margin-left: 20px;
  position: relative;
}


.linkedin {
  background-image: url(assets/img/linkedin.svg);
  filter: invert(50%) sepia(50%) saturate(2500%) hue-rotate(525deg) brightness(100%) contrast(100%);
}

.phone {
  background-image: url(assets/img/phone.svg);
  filter: invert(50%) sepia(50%) saturate(2500%) hue-rotate(525deg) brightness(1%) contrast(100%);
  top: 4px;
}

.message {
  background-image: url(assets/img/emaill.svg);
  filter: invert(50%) sepia(50%) saturate(2500%) hue-rotate(360deg) brightness(100%) contrast(100%);
  top: 4px;
}

.github {
  background-image: url(assets/img/github.svg);
  filter: sepia(1);
  top: 4px;
}

.profile {
  width: 60%;
}

.profile_title {
  background: #ebebeb;
}

.profile_desc {
  padding: 10px 40px;
}

.title {
  padding: 5px 40px;
  position: relative;
}

.title::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 32px;
  background: #f2c100;
  top: 0;
  left: 0;

}
